<!DOCTYPE html>
<html
  vocab="http://schema.org/"
  prefix="cco: http://purl.org/ontology/cco/core# foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# sec: https://w3id.org/security# doap: http://usefulinc.com/ns/doap#"
  >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>{{name}} | worldwide elves</title>

  <meta property="og:type" content="profile" />
  <meta property="og:title" content="{{name}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:url" content="{{id}}/" />
  <meta property="og:image" content="{{image}}" />

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/screen.css" />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


  {{#if link}}
    {{#each link}}
      <link rel="{{rel}}" href="{{href}}" />
    {{/each}}
  {{/if}}

</head>
<body>
<div about="{{id}}" typeof="{{j type}}" class="container">
  <div class="row">
    <div class="panel col-md-10 col-md-offset-1" style="font-size: 1.25em">
      <h2 style="line-height: 1.25em">
        Major life changes: deeply in ~ LOVE ~, moving to
        American Continent, bringing more transparency to
        my work and all the economic activities in general
      </h2>
      <p>Dear friends,<br>
      I would like to share with all of you some major changes in my life. Almost a year ago, on
      January 9th, I met a wonderful woman name Carmen. We fallen in love at first sight and since
      that moment we shared together 9 beautiful months filled with blissful magic of love.</p>
      <img src="/assets/p+c+h.jpg" alt="pavlik <3 carmita" />
      <p style="text-align: center">Jan 10th, Tier Garten Berlin our very first walk together, we found a heart carved in the grass
      and took those photos (also sharing our first shy hug)</p>
      <p>Carmen came to European Continent to participate in exchange program, for people studying
      art, between Mexico City and Braunschweig. After we met we lived most of the time together.
      Big part of it in a cozy room she had rented in Braunschweig and some parts in Berlin staying
      with various friends, especially in famous from it hospitality IndieHaus (former Banana House).
      Originally Carmen planned to stay in Europe for just one semester but to my great joy she
      stayed for two \o/</p>
      <p>After she finished the second semester, we had time to travel together and visit Barcelona and
      Paris. In that time enjoying hospitality of friends who generously offered us places to stay.
      Finally in the very beginning of October, Carmen needed return back to Mexico City :’( for the
      last semester at the University where she studies art. Since then, we both miss each other very
      much and share together a dream to reunite again as soon as possible. I decided to simply
      move to Mexico City and this way answer the call of our hearts.</p>
      <p>To make it possible, I needed to start adjusting the lifestyle I practiced in last 6 years. First of all,
      crossing the Atlantic ocean, without carrying any state documents seemed like asking for a
      trouble. I could try it if I wanted to go there just to give a try doing it this way, but I don’t! Since I
      go there to live together with the woman I love, to make sure I arrive there safely and can stay
      for as long as we both feel like, I decided to accept state documents for some time again. While
      taking such compromise, I will still continue to participate in developing new generation of
      identity systems based on trust, our real social relationships and which leverage modern
      information technologies. Once we succeed in that work, the documents I just accepted will find
      their destination in appropriate recycling bins</p>
      <p>I also already asked three good friends James, Samuel and Daniel to help me with booking a
      flight to Mexico City in the first week of January. They accepted to help me with that so I prepare
      to fly there on January 8th \o/ This way we will also get to celebrate the first aniversary of meeting each other, togeher once again ~&lt;3~</p>
      <p>James also agreed to run small small crowdfunding campaign to distribute the expense related
      to buying the flight for me. I would like to ask everyone who feels like sharing this expense to
      help through the <a href="https://www.gofundme.com/aze7f6x8">crowdfunding campaign page</a></p>
      <p>Once I arrive to Mexico City, for the first 6 months when Carmen needs to finish her university
      we plan to rent a small humble studio, where we can live together with two cats, who she takes
      care of Zafiro and Akira :)</p>
      <div style="width:896px;height:504px;"><embed src="http://serviceapi.rmcnmv.naver.com//resources/ko/flash/NVP_web_player_core.swf?version=1.5.3.2" quality="high" wmode="window" flashvars="playapi=http%3A%2F%2Fplay.rmcnmv.naver.com%2Fvod%2Fplay%2F1ED95A6E1D24F198E9EFC99B0E5073846888%3Fskn%3Ddefault%26key%3DV126c7e4342ffadf6f335a778c5565565862ee0ce68ee90a15de769a4dc14ba54089fa778c5565565862e%26doct%3Dxml%26devt%3Dflash%26cpt%3Dttml%26sid%3D2022%26pid%3DrmcPlayer_1449859118973417&amp;vid=1ED95A6E1D24F198E9EFC99B0E5073846888&amp;inKey=V126c7e4342ffadf6f335a778c5565565862ee0ce68ee90a15de769a4dc14ba54089fa778c5565565862e&amp;likeit=false&amp;isChrome=true&amp;wmode=window&amp;wmode_outkey=transparent&amp;api=http%3A//serviceapi.rmcnmv.naver.com/flash&amp;skinURL=http%3A//serviceapi.rmcnmv.naver.com//resources/ko/flash/NVP_web_player_skin_big_black.swf%3Fversion%3D1.8.3&amp;skinName=default&amp;coverImageURL=http%3A//img.phinf.grafolio.net/20150915_235/1442285971488Xd9m6_JPEG/rmcThumb_grafolio_admin.jpg%3Ftype%3Dw896_3&amp;__flashID=rmcPlayer_1449859118973417&amp;cassiodServiceID=2022&amp;controlBarMovable=false&amp;autoLocale=false&amp;locale=ko&amp;canLikeIt=false&amp;contentInfo=%5Bobject%20Object%5D&amp;showSocialPlugIn=false&amp;socialInfoData=%5Bobject%20Object%5D&amp;" bgcolor="#000000" width="100%" height="100%" id="rmcPlayer_1449859118973417" name="rmcPlayer_1449859118973417" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></div>
        <p>attribuion: <a href="http://www.grafolio.com/puuung1/illustration.grfl">Puuung</a> | source: <a href="http://www.grafolio.com/illustration/85393">http://www.grafolio.com/illustration/85393</a></p>
      <p>After that we will have more flexibility to look for other places to live together. Possibly outside of
      big city close to nature, as a part of an intentional and environment conscious community.</p>
      <p>I would still like to continue working on what I truly believe in, what strengthens our commons,
      what will benefit society as whole and do it without asking or accepting money for the work I do.
      At the same time, we share our lives with each other and now decisions which I made
      independently in a past also affect her well being. In next 6 months I would like to take time to
      open all such decisions and discuss them in depth with Carmen. This way we can start making
      together decisions for which we both take responsibility.</p>
      <p>In those first months, very likely we will not avoid having monetary expenses, we will publish
      exact calculations very soon but it seems around 9000 MXN / 500 EUR per month. This will
      include rent, utilities and basic food. Having them secured for first 3 or even whole 6 months
      would enable me to focus on the work I do and Carmen to finishing the university. We plan to
      honestly publish online details about every single expense. I will also link from those public logs
      to various alternative approaches, which in a future can secure the same needs but without
      depending on money.</p>
      <p>Carmen plans to start offering art and creativity classes to younger students from January.
      Asking them for financial support but also experimenting with <a href="https://github.com/hackers4peace/polyeconomy.info/wiki/Karma-Pass">karma pass</a> approach. During our
      stay in Europe, she paid for renting a room in which later we lived together very often, she also
      covered spendings for food which we couldn’t get from dumpster diving or foodsharing network.
      Right after arriving to Mexico City I will start working on supporting developments of Food
      Networks, which I hope very soon will provide fair, sustainable and stable ways for producing
      and consuming food ( <a href="https://news.vice.com/video/the-fruits-of-mexicos-cheap-labor">for everyone, not just us !</a>). While doing that, I would still like in first months
      take care of securing our basic needs through financial help from broad network of friends.</p>
      <p>To stay fully transparent about my economic activities, I plan to keep public logs of all my
      consumptions and contributions. If any of them relate to some flows of money, they will also
      stay publicly tracked and properly interlinked. I will also communicate in my work, how it should
      contribute to providing alternatives which don’t require such monetary flows. Every week I also
      plan to publish an online video with quick overview of my economic activities, similar to <a href="https://vimeo.com/channels/unmonpublicreviews">public reviews we did during pilot session of unMonastery Matera</a></p>
      <p>In next 6 months I plan to work on:</p>
      <ul>
        <li><a href="https://valueflo.ws/">Value Flows</a></li>
        <li><a href="http://www.openfoodnetwork.org/">Open Food Network</a></li>
        <li><a href="http://unmonastery.org/">unMonastery</a></li>
        <li><a href="http://www.w3.org/Social/WG/">W3C Social WG</a></li>
        <li><a href="https://www.w3.org/community/economy/"> W3C Social Economy CG</a></li>
        <li><a href="https://www.w3.org/community/rdfjs/">W3C RDFJS CG</a></li>
        <li><a href="https://wwelves.org/">worldwide elves</a> (it will become one, out of many to come, public trackers/aggregators for
        wishes which people can publish indepedently anywhere on The Web)</li>
      </ul>
      <p>I warmly welcome support from everyone who feels like helping and have capacity to do it. Even
      more than money donations through this crowdfunding campaign , I would like to invite everyone
      to collaborate together on developing alternative ways, which will enable us all to manage our
      lives in near future without depending on money. I commit to give even more attention and
      dedicate even more time to cofacilitate
      such collaborations!</p>
      <p><3<br>
      elf Pavlik</p>
    </div>

  </div>
  <footer>
    powered by open source
    <a typeof="SoftwareApplication" href="https://github.com/elf-pavlik/webprofiled">
      <span property="name">webprofiled</span>
    </a>
  </footer>
</div>
</body>
</html>
