<!DOCTYPE html>
<html
  vocab="http://schema.org/"
  prefix="cco: http://purl.org/ontology/cco/core# foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# sec: https://w3id.org/security# doap: http://usefulinc.com/ns/doap#"
  >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>{{name}} | worldwide elves</title>

  <meta property="og:type" content="profile" />
  <meta property="og:title" content="{{name}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:url" content="{{id}}/" />
  <meta property="og:image" content="{{image}}" />

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/screen.css" />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


  {{#if link}}
    {{#each link}}
      <link rel="{{rel}}" href="{{href}}" />
    {{/each}}
  {{/if}}

</head>
<body>
<div about="{{id}}" typeof="{{j type}}" class="container">
  <div class="row">
    <div id="main" class="col-md-3">
      {{#if name}}
        <h1 property="name">{{name}}</h1>
      {{/if}}
      {{#if image}}
        <img property="image" src="{{image}}" />
      {{/if}}
    </div>
    {{#if description}}
      <div class="col-md-6">
        <p property="description">{{description}}</p>
      </div>
    {{/if}}
    <div class="col-md-3">
      <ul id="b-day" class="list-inline">
        {{#if birthDate}}
          <li>
            <span class="glyphicon glyphicon-cloud-download"></span>
            <span property="birthDate">{{birthDate}}</span>
          </li>
        {{/if}}
      </ul>
      <ul class="list-inline">
        {{#if homeLocation}}
          <li rel="homeLocation">
            <a typeof="{{j homeLocation.type}}" href="{{homeLocation.id}}">
              <span property="name">{{homeLocation.name}}</span>
            </a>
          </li>
        {{/if}}
        {{#if currentLocation}}
          <li rel="currentLocation">
            <a typeof="{{j currentLocation.type}}" href="{{currentLocation.id}}">
              <span property="name">{{currentLocation.name}}</span>
            </a>
          </li>
        {{/if}}
      </ul>
      {{#if contactPoint}}
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-comment"></span></li>
          {{#each contactPoint}}
          <li>
            <a rel="me" property="contactPoint" typeof="{{j type}}" href="{{id}}"><span property="name">{{name}}</span></a>
          </li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if sameAs}}
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-user"></span></li>
          {{#each sameAs}}
          <li>
            <a rel="me" property="contactPoint" href="{{id}}"><span property="name">{{name}}</span></a>
          </li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if matrix.sec_publicKey}}
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-lock"></span></li>
          {{#each matrix.sec_publicKey.items}}
          <li>
            <a rel="publickey" property="sec:publicKey" href="{{id}}"><span property="name">{{name}}</span></a>
          </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <ul>
      {{#each collection}}
      <li><a typeof="Collection" href="{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
  <footer>
    powered by open source
    <a typeof="SoftwareApplication" href="https://github.com/elf-pavlik/webprofiled">
      <span property="name">webprofiled</span>
    </a>
  </footer>
</div>
</body>
</html>
